include components/linkcard.pug
include components/navlink.pug
doctype html 
html(lang="en")
    head
        title Family Server
        style
            include ../assets/css/index.css
        script
            include ../htmx.min.js
    body(class="flex flex-col w-screen min-h-screen bg-zinc-800 text-white")
        include components/navbar.pug
    
        div(id="page_container" class="flex-1 flex flex-col")
            include pages/home.pug
