include components/linkcard.pug
include components/navlink.pug
doctype html 
html(lang="en")
    head
        title Family Server
        style
            include ../assets/css/index.css
        script
            include ../htmx.min.js
    body(class="min-w-full min-h-full bg-zinc-800 text-white")
        include components/navbar.pug
    
        div(id="page_container")
            include pages/home.pug
