include components/linkcard.pug
include components/navlink.pug
doctype html 
html(lang="en")
    head
        title Family Server
        style
            include ../assets/css/index.css
        script
            include ../htmx.min.js
    body(class="min-w-full min-h-full bg-zinc-800 text-white")
        include components/navbar.pug
    
        div(id="page_container" class="p-10 flex flex-col gap-10 items-center justify-center")
            h1(class="text-3xl") What would you like to do?
